->LIST is a collection of items in a particular order . 
-> Formed by enclosing csv in [] or use list(items)
-> Access : Index
-> Update : by index  , list[0]=X
-> Add : a. list.append( ele )          
         c. list.insert(index,ele)
-> Remove : a. list.pop() - remove and return 
            b. del list[index] 
            c. list.pop(index)
            d. list.remove(element)
-> list.sort() - SORT IN ASC , For DESC use list.sort(reverse=True)
-> To preserve the original order but just present in sorted order use : sorted(list)
-> list.reverse()
-> len(list)
-> index Error 
-> loop : for ele in list : 
                print(ele)
NUMERICAL LIST : 
    -> Formed using : a. numbers=list(range(start,end+1,jump))
LIST COMPREHENSIONS : 
    -> Allows us to generate / create list in just a line of code 
    -> It combines for loop and creation of new element in one line automatically appends each new element 
SLICING : 
    -> list[start,end+1]
COPY LIST : 
    -> copied=org[:]

In [1]:
names=["Atlas","Ranzar","Modern"]
for i in range(len(names)):
    print(f"Names of our bicycles is {names[i]}")

Names of our bicycles is Atlas
Names of our bicycles is Ranzar
Names of our bicycles is Modern

In [2]:
names.append("Cycle")

In [3]:
names

['Atlas', 'Ranzar', 'Modern', 'Cycle']

In [4]:
names.insert(1,"Special cycle")

In [5]:
names

['Atlas', 'Special cycle', 'Ranzar', 'Modern', 'Cycle']

In [6]:
del names[0]

In [7]:
names

['Special cycle', 'Ranzar', 'Modern', 'Cycle']

In [8]:
names.pop()

'Cycle'

In [9]:
names

['Special cycle', 'Ranzar', 'Modern']

In [10]:
names.pop(2)

'Modern'

In [11]:
names

['Special cycle', 'Ranzar']

In [12]:
names.remove('Ranzar')

In [13]:
names

['Special cycle']

In [18]:
n=int(input("Enter the number of new names : "))
for i in range (1,n):
    ele=input(f"Enter the element at index {i} ")
    names.insert(i,ele)

for name in names : 
    print(name)

In [19]:
names

['Special cycle', 'Kajal', 'Gurmeet', 'Jarnail', 'Monika']

In [21]:
sorted(names,reverse=True)

['Special cycle', 'Monika', 'Kajal', 'Jarnail', 'Gurmeet']

In [22]:
for name in names: 
    print(name)

Special cycle
Kajal
Gurmeet
Jarnail
Monika

In [23]:
squares=[]
for value in range(1,5):
    squares.append(value**2)

squares

[1, 4, 9, 16]

In [26]:
print(min(squares))
print('\n')
print(max(squares))
print('\n')
print(sum(squares))

1


16


30

In [29]:
square=[value**2 for value in range(1,5)]

In [30]:
square

[1, 4, 9, 16]

In [32]:
for number in range(1,21): 
    print(number )

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
sum=0
for i in range(1,10000,2):
    sum+=i
print(f"Sum upto million is : {sum}")

Sum upto million is : 25000000