->LIST is a collection of items in a particular order . 
-> Formed by enclosing csv in [] or use list(items)
-> Access : Index
-> Update : by index  , list[0]=X
-> Add : a. list.append( ele )          
         c. list.insert(index,ele)
-> Remove : a. list.pop() - remove and return 
            b. del list[index] 
            c. list.pop(index)
            d. list.remove(element)
-> list.sort() - SORT IN ASC , For DESC use list.sort(reverse=True)
-> To preserve the original order but just present in sorted order use : sorted(list)
-> list.reverse()
-> len(list)
-> index Error 
-> loop : for ele in list : 
                print(ele)
NUMERICAL LIST : 
    -> Formed using : a. numbers=list(range(start,end+1,jump))
LIST COMPREHENSIONS : 
    -> Allows us to generate / create list in just a line of code 
    -> It combines for loop and creation of new element in one line automatically appends each new element 
SLICING : 
    -> list[start,end+1]
COPY LIST : 
    -> copied=org[:]
EMPTY : if len(list)==0 or if(list):

In [1]:
names=["Atlas","Ranzar","Modern"]
for i in range(len(names)):
    print(f"Names of our bicycles is {names[i]}")

Names of our bicycles is Atlas
Names of our bicycles is Ranzar
Names of our bicycles is Modern

In [2]:
names.append("Cycle")

In [3]:
names

['Atlas', 'Ranzar', 'Modern', 'Cycle']

In [4]:
names.insert(1,"Special cycle")

In [5]:
names

['Atlas', 'Special cycle', 'Ranzar', 'Modern', 'Cycle']

In [6]:
del names[0]

In [7]:
names

['Special cycle', 'Ranzar', 'Modern', 'Cycle']

In [8]:
names.pop()

'Cycle'

In [9]:
names

['Special cycle', 'Ranzar', 'Modern']

In [10]:
names.pop(2)

'Modern'

In [11]:
names

['Special cycle', 'Ranzar']

In [12]:
names.remove('Ranzar')

In [13]:
names

['Special cycle']

In [18]:
n=int(input("Enter the number of new names : "))
for i in range (1,n):
    ele=input(f"Enter the element at index {i} ")
    names.insert(i,ele)

for name in names : 
    print(name)

In [19]:
names

['Special cycle', 'Kajal', 'Gurmeet', 'Jarnail', 'Monika']

In [21]:
sorted(names,reverse=True)

['Special cycle', 'Monika', 'Kajal', 'Jarnail', 'Gurmeet']

In [22]:
for name in names: 
    print(name)

Special cycle
Kajal
Gurmeet
Jarnail
Monika

In [23]:
squares=[]
for value in range(1,5):
    squares.append(value**2)

squares

[1, 4, 9, 16]

In [26]:
print(min(squares))
print('\n')
print(max(squares))
print('\n')
print(sum(squares))

1


16


30

In [29]:
square=[value**2 for value in range(1,5)]

In [30]:
square

[1, 4, 9, 16]

In [32]:
for number in range(1,21): 
    print(number )

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
sum=0
for i in range(1,10000,2):
    sum+=i
print(f"Sum upto million is : {sum}")

Sum upto million is : 25000000

In [35]:
names=["a ,"]

In [2]:
li=[1,2,3,-10]
li.sort()

In [3]:
print(li)

[-10, 1, 2, 3]

In [12]:
min(li) , max(li) , len(li) , li.count(3)

(-10, 3, 4, 1)

In [15]:
li.index(3)

3

In [16]:
li.reverse()

In [17]:
li

[3, 2, 1, -10]

In [20]:
 #copy 
L=[2,1,5,7,0]
print(L)
print(id(L))
L1=L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
1534209825088
[2, 1, 5, 7, 0]
1534209826816

In [26]:
#LIST COMPREHENSION 
# newlist=[expression for item in iterable if condition==True]
l=[i for i in range(100,111)]
l

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [31]:
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [32]:
languages=['java','python','c#']
[language for language in languages if language.startswith('p')]

['python']

In [35]:
basket=['apple','banana','guava','cherry']
my_fruits=['apple','kiwi','grapes','banana']
#add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'
[fruit for fruit in my_fruits if fruit in basket and fruit.startswith('a')]

['apple']

In [36]:
# print 3*3 list
[[i*j for i in range(2) ] for j in range(5)]

[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4]]